*{
    margin: 0;
    padding: 0;
}
body{
   background-image: url('images/background\ image.jpg'); 
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
.header img {
    width: 130px;
    height: 130px;
}